.resetPassword {
  padding-top: 150px;
  width: 343px;

  button {
    font-size: 14px;
    font-weight: bold;
  }

  i {
    color: #9098b1;
  }
}

.heading {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 12px;
  line-height: 180%;
  text-align: center;
  color: #9098b1;
  margin-bottom: 17px;
}

.input {
  input {
    border-radius: 5px;
    border: solid 1px #ebf0ff;
    font-size: 12px;
    padding: 13px 16px 13px 50px;
    padding-left: 50px !important;
    height: 48px;
  }

  span {
    height: 48px !important;
    width: 48px !important;
  }
}

.button {
  button {
    border-radius: 5px;
    padding: 16px;
    height: 57px;
    font-weight: bold;
    font-size: 14px;
  }
}

.heading {
  padding-top: 60px;
  padding-bottom: 45px;

  h1 {
      text-align: center;
      font-family: Playfair Display, serif;
      font-size: 55px;
  }

  p {
      text-align: center;
  }
}

@media (max-width: 769px) {
  .resetPassword {
      padding-top: 0;
      padding-bottom: 50px;
  }
}